body {
	font-family: sans-serif;
	color: #ffffff;
	background: #303030;
}

#text_area {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 400px;
	min-height: 700px;
	max-height: 700px;
	overflow-y: auto;
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding-left: 10px;
}
#text_area::-webkit-scrollbar {
	border-radius: 25px;
	background-color: #aaaaaa;
	width: 10px;
}

#text_area::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background-color: #444444;
	width: 10px;
}

#message_input {
	float: none;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 25px;
	min-width: 400px;
	height: 30px;
	padding-left: 10px;
}

#username_input {
	border-radius: 25px;
	width: 180px;
	height: 30px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -97px;
	margin-top: -15px;
	padding-left: 10px;
}
#submit_login {
	border-radius: 15px;
	width: 200px;
	height: 30px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -98px;
	margin-top: 30px;
}

#username_input:focus {
	outline: none !important;
}

#submit_login:focus {
	outline: none !important;
}

#send_message:focus {
	outline: none !important;
}

#message_input:focus {
	outline: none !important;
}